.dashboard-container{
    width: 100vw;
    height: calc(100vh - 56px);
    background: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.dashboard-preview-resume-container{
    height: 420px;
    width: 285px;
    background-color: white;
    position: relative;
}

.template-all{
    padding: 20px;
    gap: 20px;
    display: flex;
    overflow-x: scroll;
}
.template-all div{
    flex-shrink: 0;
}

::-webkit-scrollbar {
    display: none;
}
.dashobard-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}
.dashobard-header div{
    flex-shrink: 1;
    font-size: 30px;
    font-weight: 700;
    color: rgb(9, 116, 116);
}



.link-button.setting{
    bottom: 0;
    right: 50;
    margin: 10px;
    cursor: pointer;
}


.option-button {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(236,87,151);;
    background-color: linear-gradient(90deg, rgba(236,87,151,1) 17%, rgba(149,89,223,1) 100%);
    color: white;
    border-radius: 50%;
    
}

.option-button-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}

.empty-message{
    font-weight: 700;
    font-size: 3rem;
    /* position: fixed;
    top: 0; */
    margin: 41px 5px;
    color: rgb(36, 83, 83);
}